# Database (Supabase)
DATABASE_URL=""
DIRECT_URL=""

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

# Google OAuth (optional for Phase 1)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
